// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color-police:  #47bbb3;
$background-color-fire:  #ec663c;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------

[data-category= "police"] {
  
  background-color: $background-color-police;

}

[data-category= "fire"] {
  background-color: $background-color-fire;

}
.widget-number {

  .title {
    color: $title-color;
  }

  .value {
    color: $value-color;
  }

  .change-rate {
    font-weight: 500;
    font-size: 20px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
    font-size: 20px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
  }

}
